/*General*/
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  border: 2 px solid #f8f8f8;
}

::-webkit-scrollbar-track {
  -moz-border-radius: 10px;
  border-radius: 10px;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  color: #231f20;
  background: #fff;
  margin: 0;
}

.page-container {
  min-height: 100vh;
}

.page-container {
  -webkit-transition: -webkit-transform 0.3s
    cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -webkit-backface-visibility: hidden;
  overflow: auto;
}

/*Header*/
.header {
  position: relative;
  width: 100%;
  z-index: 100;
  *zoom: 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background: #fff;
  box-shadow: 0 0 0 rgb(0 0 0 / 10%);
  transition: box-shadow 0.3s ease;
}

.header:after {
  display: table;
  content: "";
  clear: both;
}

.header-utilities {
  text-align: right;
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
}

.container,
.container-max {
  max-width: 1232px;
  margin: 0 auto;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
}

ol li,
ul li {
  margin: 0;
  padding: 0 0 0.3em 0.3em;
  display: list-item;
  list-style: disc;
}

.header ul,
.header li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-utilities ul,
.header-utilities li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0 0 0.9em 0;
  padding: 0 0 0 1.5em;
}

.header-utilities li {
  vertical-align: top;
  display: inline-block;
  position: relative;
}

a {
  color: #231f20;
  text-decoration: underline;
}

.header-utilities a {
  padding: 0.5em 1em;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 85%;
  transition: opacity 0.3s ease;
}

.header-utilities a.header-shopping-bag-link {
  position: relative;
  padding: 0 0.3em;
  font-size: 190%;
  margin: -0.05em 0 0 0;
}

.header-utilities a.header-shopping-bag-link .header-shopping-bag-count {
  border-radius: 50px;
  background: #ccbe00;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3em 0.4em;
  font-size: 45%;
  line-height: 1;
  min-width: 1.5em;
  height: 1.5em;
  text-align: center;
}

.header-main .container,
.header-main .container-max {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.header-logo {
  width: 20%;
}

.header-logo a {
  display: block;
  max-width: 10em;
  text-align: center;
}

img {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.header-nav {
  width: 80%;
}

.header-nav ul,
.header-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul li a {
  font-size: 90%;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0;
  border-bottom: 1px solid transparent;
  transition: opacity 0.3s ease;
}

.header-nav ul li a.red {
  color: #d00;
}

/*Main Body*/
.main {
  *zoom: 1;
}

.main-content {
  width: 100;
}

.container-max {
  max-width: 1920px;
}

.home-featured-wrapper {
  position: relative;
  margin: 0 0 5em 0;
}

.home-featured-main {
  position: relative;
  z-index: 1;
}

.home-featured-arrows {
  font-size: 220%;
}

.home-featured-arrows .prev,
.home-featured-arrows .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -0.5em;
  cursor: pointer;
  color: #fff;
}

.home-featured-arrows .prev {
  left: 5%;
}

#arrow-left {
  font-size: 36px;
  color: #fff;
}

.home-featured-arrows .next {
  right: 5%;
}

#arrow-right {
  font-size: 36px;
  color: #fff;
}

.home-featured-image {
  position: relative;
  z-index: 1;
}

.home-featured-main img {
  width: 100%;
}

.home-featured-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 6em 0;
}

.home-featured-category {
  margin: 0 0 2em 0;
  padding: 0 2em;
  width: 20%;
}

.home-featured-category .img {
  text-align: center;
  margin: 0 0 1em 0;
}

.home-featured-category .img img {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.home-featured-category .desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 110%;
  text-transform: uppercase;
}

.home-featured-category .desc a {
  text-decoration: none;
}

.home-stores {
  margin: 0 0 7em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  display: block;
  padding: 0;
  margin: 0 0 1.5em 0;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-size: 180%;
}

h1,
h2 {
  color: #231f20;
}

.home-stores h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 0.25em;
  font-size: 250%;
  text-align: center;
}

.home-stores .home-stores-wrapper {
  position: relative;
}

.home-stores .home-stores-games {
  width: 90%;
  margin: 0 auto;
}

.home-stores-games {
  display: flex;
}
.flexMiddle {
  display: flex;
}

.home-stores .home-stores-games-arrows {
  font-size: 180%;
}

.home-stores .home-stores-games-arrows .game-prev,
.home-stores .home-stores-games-arrows .game-next {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  cursor: pointer;
}

.home-stores .home-stores-games-arrows .game-next {
  left: 0;
}

#game-arrow-left {
  font-size: 24px;
  color: #231f20;
}

.m-featured {
  margin-bottom: 8em;
}

.m-featured-item {
  margin-bottom: 7em;
}

.home-blog {
  margin: 0 0 4em 0;
}

.home-blog-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  word-break: break-word;
  text-align: center;
  font-size: 250%;
  line-height: 1.2;
  margin: 0 0 1em 0;
}

.home-blog-title a {
  text-decoration: none;
}

.home-blog-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-blog-item {
  width: 30%;
  text-align: center;
  position: relative;
  padding: 0 0 2em 0;
  margin: 0 auto 2em;
}

.home-blog-item img {
  display: inline-block;
  margin: 0 0 1em 0;
}

h3 {
  font-size: 125%;
  color: #231f20;
  margin-bottom: 20px;
}

.home-blog-items h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 0 0 0.5em 0;
  line-height: 1.2;
  font-size: 150%;
}

p {
  margin: 0 0 20px 0;
  font-size: 105%;
  line-height: 1.5;
}

.home-blog-item p {
  display: none;
}

.home-blog-item .link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

/*Footer*/
.footer {
  margin-top: 1.5em;
  padding: 2em 0 0 0;
}

.footer-social {
  margin: 0 0 3em 0;
}

.footer-social-heading {
  font-size: 100%;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1em 0;
}

.footer-social-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  margin: 0 0.25em;
  text-align: center;
}

.footer-social-link a {
  display: inline-block;
  background: #ccbe00;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5;
  font-size: 90%;
  transition: background 0.3s ease;
}

.footer-social-link svg,
.footer-social-link span {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
}

.footer-nav {
  margin: 0 0 3em 0;
}

.footer-nav ul,
.footer-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 8em) {
  .footer-nav ul {
    justify-content: center;
  }
}

.footer-nav ul li {
  margin: 0 1em 0.5em;
}

.footer-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.footer-bottom {
  background: #ccbe00;
  padding: 2em 0 0 0;
  color: #fff;
}

.footer-bottom a {
  color: #fff;
}

.footer-subscribe {
  margin: auto;
  max-width: 500px;
}

.footer-subscribe-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 1em 0;
}

.m-form-subscribe-email {
  display: block;
  width: 100%;
  position: relative;
}

label {
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  padding: 0 0 0.5em 0;
}

button {
  font-family: "Montserrat", sans-serif;
}

.m-form-subscribe-email label {
  font-size: 130%;
  margin: 0;
  padding: 0;
}

input[type="email"],
textarea,
select {
  font-size: 95%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 100%;
  width: calc(100% / 1 0px);
  padding: 0.7em;
  outline: 0;
  background-color: #fff;
  border: 1px solid #808284;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.m-form-subscribe-email input[type="email"] {
  padding: 8px 15px;
  border: none;
  font-size: 80%;
  line-height: 1.75;
  background: #fff;
  width: calc(100% - 8.125rem);
}

.m-form-subscribe-email button {
  padding: 0;
  color: #fff;
  background: #231f20;
  border: none;
  height: 100%;
  text-transform: uppercase;
  line-height: 50%;
  font-size: 90%;
  width: 8.125em;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.m-form-subscribe-terms {
  padding: 10px 0;
}

.checkbox {
  position: relative;
  padding: 0 0 0 2em;
  cursor: pointer;
  margin-bottom: 1em;
}

.m-form-subscribe-terms .checkbox {
  margin: 0;
}

.checkbox input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.checkbox-indicator {
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1;
  text-align: center;
  margin: auto;
  background-color: #d1d2d4;
  -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 15%);
  -moz-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 15%);
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 15%);
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  background-size: 70% 70%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer-notice {
  padding: 0.8em 0;
}

.footer-notice p {
  margin: 0;
  text-transform: uppercase;
  font-size: 85%;
}
